section.tuyendung
	.container
		.row
			h2.main-title Tuyển dụng
			.col-lg-5
				img(src="./img/tuyendung/h-1.png", alt="1")
			.col-lg-7.d-flex.align-items-center
				.content
					h3 TẬP ĐOÀN TLM
					p Không chỉ thu hút, giữ chân nhân tài bằng chế độ lương thưởng, phúc lợi cạnh tranh; Tập đoàn bất động sản TLM còn kịp thời ghi nhận, tưởng thưởng xứng đáng mỗi đóng góp của cá nhân; đồng thời, xây dựng lộ trình thăng tiến rõ ràng và mang đến cơ hội khẳng định giá trị bản thân.