section.gioithieu-lichsu
	.container
		.row
			h2.main-title lịch sử phát triển
			.swiper-container.top-swiper
				.swiper-wrapper
					.swiper-slide
						p 1999
					.swiper-slide
						p 2003
					.swiper-slide
						p 2007
					.swiper-slide
						p 2011
					.swiper-slide
						p 2012
					.swiper-slide
						p 2019
				.line
			.col-lg-10
				.swiper-container.bottom-swiper
					.swiper-wrapper
						-for(i=0; i<6; i++)
							.swiper-slide
								figure
									.box-img
										img(src='./img/gioithieu/ls-1.jpg', alt='1').lazyload.blur-up
									figcaption
										time 2019
										p Với tôn chỉ “Mang bình minh đến gia đình bạn”, Công ty Cổ phần Đầu tư Thương mại Dịch vụ Địa ốc Thái Dương (THÁI DƯƠNG REAL) được thành lập hoạt động trong lĩnh vực đầu tư, kinh doanh bất động sản và xây dựng.