section.tuyendung-nghenghiep
	.container
		.row
			.col-12
				h2.main-title CƠ HỘI NGHỀ NGHIỆP
				.table
					table
						thead
							tr
								th STT
								th Doanh nghiệp
								th Vị trí tuyển dụng
								th Số lượng
								th Hạn nộp hồ sơ
						tbody
							-for(i=0; i<10; i++)
								tr
									td 01
									td 
										a(href="#") cÔNG TY PHẦN MỀM fpt
									td
										a(href="#") Nhân viên Kinh doanh
									td 01
									td
										a(href="#") 31.07.2018