section.home-gallery
	.container
		.row
			.col-lg-8
				h2.main-title thư viện ảnh
				.row.no-gutters
					.col-lg-6
						.home-gallery-item.main
							figure
								.box-img
									a(href="./img/home/home-gallery-1.jpg" data-fancybox="gallery")
										img(src='./img/home/home-gallery-1.jpg', alt='1').lazyload.blur-up
								.d-none
									a(href="./img/home/home-project.jpg" data-fancybox="gallery")
										img(src='./img/home/home-project.jpg', alt='1').lazyload.blur-up
									a(href="./img/home/home-project.jpg" data-fancybox="gallery")
										img(src='./img/home/home-project.jpg', alt='1').lazyload.blur-up
					.col-lg-6.d-flex.flex-wrap.justify-content-md-between
						.home-gallery-item
							figure
								.box-img
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-1")
										img(src='./img/home/home-gallery-1.jpg', alt='1').lazyload.blur-up
								.d-none
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-1")
										img(src='./img/home/home-news.jpg', alt='1').lazyload.blur-up
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-1")
										img(src='./img/home/home-news.jpg', alt='1').lazyload.blur-up
						.home-gallery-item
							figure
								.box-img
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-2")
										img(src='./img/home/home-gallery-1.jpg', alt='1').lazyload.blur-up
								.d-none
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-2")
										img(src='./img/home/home-news.jpg', alt='1').lazyload.blur-up
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-2")
										img(src='./img/home/home-news.jpg', alt='1').lazyload.blur-up
						.home-gallery-item
							figure
								.box-img
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-3")
										img(src='./img/home/home-gallery-1.jpg', alt='1').lazyload.blur-up
								.d-none
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-3")
										img(src='./img/home/home-news.jpg', alt='1').lazyload.blur-up
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-3")
										img(src='./img/home/home-news.jpg', alt='1').lazyload.blur-up
						.home-gallery-item
							figure
								.box-img
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-4")
										img(src='./img/home/home-gallery-1.jpg', alt='1').lazyload.blur-up
								.d-none
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-4")
										img(src='./img/home/home-news.jpg', alt='1').lazyload.blur-up
									a(href="./img/home/home-news.jpg" data-fancybox="gallery-4")
										img(src='./img/home/home-news.jpg', alt='1').lazyload.blur-up
			.col-lg-4
				h2.main-title giải thưởng
				.swiper-container
					.swiper-wrapper
						-for(i = 0; i < 3; i++)
							.swiper-slide
								figure
									.box-img
										img(src='./img/home/home-gallery-2.jpg', alt='2').lazyload.blur-up
									figcaption Khu đô thị sinh thái ven sông King Bay đạt giải thưởng “Khu đô thị sinh thái ven sông xuất sắc 2018”
					.swiper-pagination