section.tuyendung-chinhsach
	.container
		.row.d-flex.justify-content-center
			.col-md-4.col-lg-3.p-15
				figure
					.box-img
						img(src='./img/tuyendung/h-2.jpg', alt='./img/tuyendung/h-2.jpg')
						p HỆ THỐNG LƯƠNG & THƯỞNG
					figcaption 
						p maxime. Voluptatem expedita, eius velit libero, cumque doloremque sit voluptatum hic quae assumenda, molestias consectetur id! Porro repudiandae nostrum aliquid velit deleniti odit neque voluptatem accusantium tenetur! Optio a pariatur vero nisi officiis architecto quam. Reprehenderit perferendis quia rerum tempora, ut debitis officiis est nobis laboriosam repellendus nisi molestias doloribus repudiandae itaque, animi aspernatur, ullam minima ex unde modi aut et enim? Nobis molestias veniam magnam similique, ipsa dicta.
			.col-md-4.col-lg-3.p-15
				figure
					.box-img
						img(src='./img/tuyendung/h-2.jpg', alt='./img/tuyendung/h-2.jpg')
						p HỆ THỐNG LƯƠNG & THƯỞNG
					figcaption 
						p Tập đoàn TLM xây dựng và cập nhật những chế độ phúc lợi tốt nhất và cạnh tranh nhất trên thị trường cho nhân viên như: bảo hiểm chăm sóc sức khỏe toàn diện, bảo hiểm nhân thọ, chương trình khám sức khỏe thường niên; du lịch 3 – 4 lần/năm, phụ cấp cơm trưa, điện thoại, công tác phí....
			.col-md-4.col-lg-3.p-15
				figure
					.box-img
						img(src='./img/tuyendung/h-2.jpg', alt='./img/tuyendung/h-2.jpg')
						p HỆ THỐNG LƯƠNG & THƯỞNG
					figcaption 
						p Tập đoàn TLM xây dựng và cập nhật những chế độ phúc lợi tốt nhất và cạnh tranh nhất trên thị trường cho nhân viên như: bảo hiểm chăm sóc sức khỏe toàn diện, bảo hiểm nhân thọ, chương trình khám sức khỏe thường niên; du lịch 3 – 4 lần/năm, phụ cấp cơm trưa, điện thoại, công tác phí....