.duan-ds
	padding: 60px 0
	background: url('../img/gioithieu/bg-gioithieu.jpg') center center fixed
	background-size: cover
	@media (max-width: 768px)
		padding: 40px 0
	.main-title
		width: 100%
		margin: 0
		color: #004892