section.gioithieu-gioithieu
	.container
		include ../../../components/gioithieu/navigation/index
		.row
			.col-md-6
				h2.main-title Về TLM CORP
				p
					| Được hình thành từ hai đơn vị nòng cốt: 
					span.color Công ty Cổ phần Đầu tư Kinh doanh BĐS Star Beach và Công ty Cổ phần Đầu tư Thương mại Dịch vụ Địa ốc Thái Dương
					|, Tập đoàn bất động sản TLM chuyên hoạt động trong lĩnh vực Đầu tư và phát triển bất động sản phân khúc trung – cao cấp.
				.img-wrap
					.box-img
						img(src="./img/gioithieu/logo-1.jpg", alt="1")
					.box-img
						img(src="./img/gioithieu/logo-2.jpg", alt="1")
			.col-md-6
				img(src="./img/gioithieu/square.png", alt="1")