section.tintuc-ct
	.container
		.row
			.col-md-8.col-lg-9
				.title
					h2 King Bay nhận giải thưởng quốc tế “khu đô thị sinh thái ven sông xuất sắc 2018”
					time 29/03/2019
				.full-content
					p Giải thưởng bất động sản quốc tế Dot Property Award 2018 đã chính thức công bố các đơn vị thắng giải, trong đó Khu Đô Thị Sinh Thái Ven Sông King Bay đạt hạng mục giải thưởng quan trọng trong năm nay về Khu đô thị sinh thái ven sông xuất sắc.
					p Khu đô thị sinh thái ven sông King Bay là cái tên được vinh danh giành chiến thắng ở hạng mục “Khu đô thị sinh thái ven sông xuất sắc 2018” (Best Riverside Township 2018). hoàn toàn thuyết phục nhờ vào quy hoạch hơn 70% diện tích cho không gian xanh và tiện ích nội khu đẳng cấp bên cạnh hệ thống sông hồ tự nhiên, được quy hoạch và phát triển theo chuẩn quốc tế về phát triển đô thị bền vững và thân thiện với môi trường đảm bảo một môi trường sống an toàn, đẳng cấp và trong lành.
					p Dot Property chọn lựa các đơn vị thắng giải từ danh sách ứng cử viên dựa trên những tiêu chí khắt khe dành riêng cho mỗi hạng mục. Các giải thưởng được đánh giá dựa trên các tiêu chí khắt khe về thiết kế, chất lượng xây dựng, sự độc đáo riêng, cam kết của chủ đầu tư về phát triển môi trường và cộng đồng bền vững để chọn ra những dự án xuất sắc.
					p Theo đại diện chủ đầu tư, Dot Property Award 2018 là cơ hội nâng tầm danh tiếng của King Bay ra khỏi phạm vi Việt Nam; tạo ảnh hưởng đến khách hàng và đối tác khu vực; góp phần lan tỏa thương hiệu bất động sản Việt Nam nhờ các dự án được xây dựng theo tiêu chuẩn quốc tế. Giải thưởng được ghi nhận bởi giới chuyên môn về kinh doanh, bất động sản và kiến trúc quốc tế.
					img(src="./img/gioithieu/ls-1.jpg", alt="1")
					p Điểm ấn tượng nhất tại King Bay là vị trí chiến lược và độc tôn về phía Đông của Thành phố Hồ Chí Minh, với kết nối giao thông thông suốt và vị thế đắc địa 3 mặt tiền sông, cách sân bay Quốc tế Long Thành chỉ 15 phút di chuyển. Dự án được hưởng kết nối giao thông của tuyến đường 319 – Khi hoàn thành sẽ rút ngắn được 10 phút di chuyển từ trung tâm thành phố đến với King Bay, theo ghi nhận, đã thi công xong cầu Đồng Môn (xã Phước Thiền, huyện Nhơn Trạch) và đang trải đá phần đường dẫn 2 đầu cầu. Thêm vào đó, khi đường Vành đai 3 đi vào hoạt động dự kiến vào năm 2020, từ King Bay chỉ di chuyển 20 phút là đến trung tâm Quận 1 bằng cả đường bộ và tàu điện Metro.
					p Điểm ấn tượng nhất tại King Bay là  vị trí chiến lược và độc tôn về phía Đông của Thành phố Hồ Chí Minh, với kết nối giao thông thông suốt và vị thế đắc địa 3 mặt tiền sông, cách sân bay Quốc tế Long Thành chỉ 15 phút di chuyển.
					img(src="./img/gioithieu/ls-1.jpg", alt="1")
			.col-md-4.col-lg-3
				h2.other-title tin tức khác
				-for(i=0; i<3; i++)
					.home-news-item
						figure
							.box-img
								a(href="#")
									img(src='./img/home/home-news.jpg', alt='./img/home/home-news.jpg')
							figcaption
								h3
									a(href="#") King Bay nhận giải thưởng quốc tế “khu đô thị sinh thái ven sông xuất sắc 2018”
								time 29/03/2019