section.duanct-lienhe
	.container
		.row
			h2.main-title liên hệ với chúng tôi
			.col-lg-8
				.row
					.col-sm-6
						figure
							.box-img
								img(src='./img/duan-ct/call.png', alt='1')
							figcaption
								p Hotline:
								p +84 028 38 487 789
					.col-sm-6
						figure
							.box-img
								img(src='./img/duan-ct/email.png', alt='1')
							figcaption
								p Email:
								p info@tlmcorp.com.vn
				hr
				.wrap-form
					.row
						h2.form-title Gửi thông tin
						.col-lg-6
							.form-group
								input(type="text" placeholder="Họ tên")
							.form-group
								input(type="text" placeholder="Email")
							.form-group
								input(type="text" placeholder="Tiêu đề")
						.col-lg-6
							.form-group
								textarea(placeholder="Nội dung")
					.form-btn
						input(type="submit" value="gửi")