section.home-social
	.container
		.row
			.col-lg-5
				h2.home-title Trách Nhiệm Xã Hội
			.col-lg-7
				h3 Cuộc sống lý tưởng dựa trên hạnh phúc của cộng đồng
				p Trên cả kinh doanh, với mong muốn cống hiến nhiều hơn cho xã hội, Chú tịch Hội đồng Quản trị kiêm tổng Giám đốc TLM Corporations đã thành lập Quỹ từ thiện Hoa Phước - Quỹ từ thiện chuyên giúp đỡ trẻ em & người lớn tuổi có hoàn cảnh khó khăn trên khắp cả nước.
			.col-12
				.line
					hr
					hr
			-for(i = 0; i < 4; i++)
				.col-sm-6.col-lg-3
					.social-item
						a(href="#")
							figure
								.box-img
									img(src='./img/home/home-social.jpg', alt='./img/home/home-social.jpg')
								figcaption
									p Hiến máu nhân đạo