section.duanct-banhang
	.container
		.row
			h2.main-title chương trình bán hàng
			.col-lg-5
				p Khu đô thị ven sông King Bay tọa lạc tại phía Đông Bắc TP HCM, sở hữu mặt tiền đường vành đai 3 và có 3 mặt giáp sông Đồng Nai. Nằm trong quy hoạch hạ tầng được phê duyệt với các tiện ích hiện đại, đặc biệt là bến du thuyền sang trọng, King Bay là dự án bất động sản vừa để ở vừa để đầu tư với cam kết lợi nhuận tối thiểu từ 10% mỗi năm. Dự án King Bay giai đoạn 1 - phân khu A2 với diện tích 25ha được đầu tư bởi Công ty cổ phần Freeland, phát triển bởi Star Beach và Thái Dương Real. Hotline: 0907 8888 22 Địa chỉ liên hệ: Căn S04 Saigon Pearl, 92 Nguyễn Hữu Cảnh, phường 22, quận Bình Thạnh, TP HCM.
				ul
					li Vị trí: Mặt tiền đường vành đai 3, huyện Nhơn Trạch, tỉnh Đồng Nai
					li Quy mô: 125 ha
					li Tổng chi phí đầu tư hơn 4.800 tỷ đồng
					li Chủ đầu tư: Công ty Freeland
					li Đơn vị phát triển và tiếp thị: Công ty Star Beach và Thái Dương Real
			.col-lg-7
				figure
					.box-img
						img(src='./img/duan-ct/h-4.jpg', alt='./img/duan-ct/h-4.jpg')