section.congty-thanhvien
	.container
		.row.no-gutters
			h2.main-title CÔNG TY THÀNH VIÊN
			.col-lg-6.order-1.order-lg-1
				figure
					.box-img
						img(src='./img/congty-thanhvien/h-1.jpg', alt='./img/congty-thanhvien/h-1.jpg')
			.col-lg-6.order-2.order-lg-2
				.content
					h3 Thái Dương Real
					br
					p Công ty Cổ phần Đầu tư Thương mại Dịch vụ Địa ốc Thái Dương (Thái Dương Real) là công ty thành viên của Tập đoàn Bất động sản TLM.
					br
					p Được thành lập từ năm 2012 với hội đồng sáng lập gồm 02 thành viên có kinh nghiệm và uy tín trong lĩnh vực đầu tư, kinh doanh bất động sản và xây dựng. Trải qua nhiều năm hình thành và phát triển, Thái Dương Real luôn vững vàng với mục tiêu mang lại cho khách hàng những sản phẩm bất động sản tốt nhất bằng dịch vụ chuyên nghiệp nhất, với đội ngũ hơn 200 cán bộ nhân viên giàu kinh nghiệm, nhiệt tình, năng động và sáng tạo.
			.col-lg-6.order-4.order-lg-3
				.content
					h3 Star Beach
					br
					p Công ty Cổ phần Đầu tư Thương mại Dịch vụ Địa ốc Thái Dương (Thái Dương Real) là công ty thành viên của Tập đoàn Bất động sản TLM.
					br
					p Là một công ty tham gia vào thị trường Bất động sản đang trong thời kỳ hưng thịnh và cạnh tranh gay gắt, nhưng với niềm tin và phấn đấu không mệt mỏi, giờ đây, Star Beach tự hào là một trong những đơn vị phát triển và phân phối Bất động sản hàng đầu Việt Nam, với hơn 200 chiến binh luôn hừng hực tinh thần chiến đấu.
			.col-lg-6.order-3.order-lg-4
				figure
					.box-img
						img(src='./img/congty-thanhvien/h-1.jpg', alt='./img/congty-thanhvien/h-1.jpg')