section.duanct-vitri
	.container
		.row
			h2.main-title vị trí
			.col-lg-7
				figure
					.box-img
						img(src='./img/duan-ct/h-1.jpg', alt='./img/duan-ct/h-1.jpg')
			.col-lg-5
				ul
					li King Bay nằm tiếp giáp với Quận 2 và Quận 9 của TP. Hồ Chí Minh với các tuyến giao thông quan trọng như Quốc lộ 51 nối Quốc lộ 1A với TP. Vũng Tàu, Cao tốc Long Thành - Dầu Giây, Cao tốc Bến Lức - Long Thành kết nối sân bay Quốc tế Long Thành trong tương lai.
					li Là khu đô thị duy nhất tại vùng đất “long phượng” này có hệ tiện ích nội khu hiện đại, nằm cạnh sân Golf Jeongsan (cách 800m) được ví như hòn đảo "Sentosa tỷ phú" của Singapore.
					li Từ trung tâm TP. Hồ Chí Minh, chỉ mất 30 phút đường thủy và chưa đến 50 phút bằng đường bộ, khách hàng có thể tận hưởng một không gian sống yên tĩnh, trong lành không khói bụi tại King Bay.