section.duanct-gioithieu
	include ../../../components/gioithieu/navigation/index
	.container
		.row
			.col-lg-6
				h2.main-title giới thiệu
				p Khu đô thị ven sông King Bay tọa lạc tại vị trí chiến lược và độc tôn về phía Đông Bắc của Thành phố Hồ Chí Minh với kết nối giao thông thông suốt và vị thế đắc địa 3 mặt tiền sông. Cầu quận 9 - Nhơn Trạch được khởi công xây dựng và hoàn thành sẽ rút ngắn thời gian di chuyển từ Trung tâm TP. Hồ Chí Minh chỉ còn 20 phút. Bên cạnh đó, King Bay sở hữu địa thế phong thủy quý hiếm - nơi mang đến tài lộc và may mắn cho chủ sở hữu.
				br
				p Nằm trong quy hoạch hạ tầng đã được chính phủ phê duyệt với các tiện ích đẳng cấp như Bến du thuyền, Công viên bờ sông rộng 06 hecta, Khu Trung Tâm Thương Mại, Trường Học Quốc Tế, Trung Tâm Thể Thao, Bệnh Viện, liền kề sân Golf quốc tế Jeongsang hiện hữu... Với những tiện ích vượt trội, King Bay được đánh giá là dự án bất động sản lý tưởng để ở, vừa là địa chỉ đầu tư tin cậy với tiềm năng sinh lời cực cao cho tương lai
				br
				ul
					li Vị trí: Mặt tiền đường vành đai 3, huyện Nhơn Trạch, tỉnh Đồng Nai
					li Quy mô: 125 ha
					li Tổng chi phí đầu tư hơn 4.800 tỷ đồng
					li Chủ đầu tư: Công ty Freeland
					li Đơn vị phát triển và tiếp thị: Công ty Star Beach và Thái Dương Real
					li Tiện ích nội khu: bến du thuyền triệu đô, bãi biển cát trắng nhân tạo, công viên cây xanh nội khu, khu vui chơi trẻ em, khu mua sắm, nhà hàng, bảo vệ 24/24,…
			.col-lg-6.d-flex.align-items-center.justify-content-center
				figure
					.box-img
						a(href="https://www.youtube.com/watch?v=KBSsrFLn6SE" data-fancybox)
							img(src='./img/duan-ct/h-0.jpg', alt='./img/duan-ct/h-0.jpg')