section.gioithieu-doitac-chienluoc
	.container
		.row
			.col-12.gioithieu-doitac
				h2.main-title ĐỐI TÁC CHIẾN LƯỢC
				.gioithieu-swiper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								figure
									.box-img
										img(src='./img/gioithieu/dt-1.png', alt='1')
							.swiper-slide
								figure
									.box-img
										img(src='./img/gioithieu/dt-2.png', alt='1')
							.swiper-slide
								figure
									.box-img
										img(src='./img/gioithieu/dt-3.png', alt='1')
							.swiper-slide
								figure
									.box-img
										img(src='./img/gioithieu/dt-4.png', alt='1')
							.swiper-slide
								figure
									.box-img
										img(src='./img/gioithieu/dt-5.png', alt='1')
					.navigation
						.btn-prev
						.btn-next
			.col-12.gioithieu-giaithuong
				h2.main-title Giải thưởng
				p Giải thưởng khu đô thị sinh thái ven sông xuất sắc 2018 (Best Riverside Township 2018) dành cho Khu đô thị sinh thái phức hợp King Bay tại lễ trao Giải thưởng bất động sản quốc tế Dot Property Award 2018.
				.gioithieu-swiper
					.swiper-container
						.swiper-wrapper
							-for(i=0; i<5; i++)
								.swiper-slide
									figure
										.box-img
											img(src='./img/home/home-gallery-2.jpg', alt='./img/home/')
					.navigation
						.btn-prev
						.btn-next