extends _layout.pug

block var
	- var title = 'congty-thanhvien'
	- var bodyClass = 'congty-thanhvien-page'

block main
	include ../components/gioithieu/banner/index
	include ../components/breadcrumb/index
	include ../components/congty-thanhvien/index