extends _layout.pug

block var
	- var title = 'contact'
	- var bodyClass = 'contact-page'

block main
	include ../components/gioithieu/banner/index
	include ../components/breadcrumb/index
	include ../components/contact/index