extends _layout.pug

block var
	- var title = 'duan-ds'
	- var bodyClass = 'duan-ds-page'

block main
	include ../components/gioithieu/banner/index
	include ../components/breadcrumb/index
	include ../components/duan-ds/index