extends _layout.pug

block var
	- var title = 'hinh-anh'
	- var bodyClass = 'hinh-anh-page'

block main
	include ../components/gioithieu/banner/index
	include ../components/breadcrumb/index
	include ../components/hinh-anh/index