extends _layout.pug

block var
	- var title = 'hoatdong-xahoi'
	- var bodyClass = 'hoatdong-xahoi-page'

block main
	include ../components/gioithieu/banner/index
	include ../components/breadcrumb/index
	include ../components/hoatdong-xahoi/index