extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/home/home-banner/index
	include ../components/home/home-news/index
	include ../components/home/home-project/index
	include ../components/home/home-social/index
	include ../components/home/home-gallery/index