extends _layout.pug

block var
	- var title = 'tintuc-ct'
	- var bodyClass = 'tintuc-ct-page'

block main
	include ../components/gioithieu/banner/index
	include ../components/breadcrumb/index
	include ../components/tintuc-ct/index