extends _layout.pug

block var
	- var title = 'tintuc-ds'
	- var bodyClass = 'tintuc-ds-page'

block main
	include ../components/gioithieu/banner/index
	include ../components/breadcrumb/index
	include ../components/tintuc-ds/index