extends _layout.pug

block var
	- var title = 'video'
	- var bodyClass = 'video-page'

block main
	include ../components/gioithieu/banner/index
	include ../components/breadcrumb/index
	include ../components/video/index