.gioithieu-navigation
	.container
		.row
			.col-auto
				.navigation
					a(href="#").active giới thiệu
					a(href="#") lịch sử phát triển
					a(href="#") ban lãnh đạo
					a(href="#") đối tác chiến lược
					a(href="#") giải thưởng