section.gioithieu-navigation
	.container
		.row
			.col-12
				.navigaiton-wrapper
					.dropdown-btn
						span danh mục
						i.mdi.mdi-menu-down
					.navigation
						a(href="#gioithieu1").active giới thiệu
						a(href="#gioithieu2") lịch sử phát triển
						a(href="#gioithieu3") ban lãnh đạo
						a(href="#gioithieu4") đối tác chiến lược
						a(href="#gioithieu5") giải thưởng