section.home-project
	.container
		h2.home-title dự án
		.row.no-gutters
			.col-lg-8
				.project-item.main
					a(href="#")
						figure
							.box-img
								img(src='./img/home/home-project.jpg', alt='./img/home/home-project.jpg')
							figcaption
								p dự án đang triển khai
								h3 PRINCESS VILLAS
			.col-lg-4
				.row
					.col-12.col-md-6.col-lg-12
						.project-item
							a(href="#")
								figure
									.box-img
										img(src='./img/home/home-project.jpg', alt='./img/home/home-project.jpg')
									figcaption
										p dự án đang triển khai
										h3 PRINCESS VILLAS
					.col-12.col-md-6.col-lg-12
						.project-item.mt-20
							a(href="#")
								figure
									.box-img
										img(src='./img/home/home-project.jpg', alt='./img/home/home-project.jpg')
									figcaption
										p dự án đang triển khai
										h3 PRINCESS VILLAS
			a(href="#").view-all xem tất cả