header
	.top-header
		.container
			.row
				.col-lg-10.offset-2
					.top-header-content
						.search-wrapper
							.search-box
								input(type="text", placeholder="Tìm kiếm thông tin")
								button
									span.mdi.mdi-magnify
						.phone-wrapper
							.phone
								i.mdi.mdi-phone
								a(href="tel:0907 8888 22") 0907 8888 22
						.language-wrapper
							.language
								.current
									.item
										.box-img
											img(src="./img/vn.png", alt="1")
										a vn
								.language-content
									.item
										.box-img
											img(src="./img/en.png", alt="2")
										a(href="#") en
	.main-header
		.container
			.row
				.col-xl-2
					.mobile
						.mobile-language
						.main-header-logo
							img(src="./img/logo.png", alt="1")
						.mobile-hamburger
							span
							span
							span
				.col-xl-10
					.main-header-nav
						ul.main-nav
							li
								a(href="#") Giới thiệu
							li
								a(href="#") Dự án
								ul.sub-nav
									li
										a(href="#") Dự án 1
									li
										a(href="#") Dự án 2
									li
										a(href="#") Dự án 3
							li
								a(href="#") Công ty thành viên
							li
								a(href="#") Hoạt động xã hội
							li
								a(href="#") Truyền thông
								ul.sub-nav
									li
										a(href="#") Dự án 1
									li
										a(href="#") Dự án 2
									li
										a(href="#") Dự án 3
							li
								a(href="#") Thư viện
							li
								a(href="#") Tuyển dụng
							li
								a(href="#") Liên hệ
								ul.sub-nav
									li
										a(href="#") Dự án 1
									li
										a(href="#") Dự án 2
									li
										a(href="#") Dự án 3
		.mobile-line
		.mobile-nav-wrapper
			.container
				.row
					.col-12
						.mobile-nav
		.mobile-backdrop