section.duanct-matbang#gioithieu3
	.container
		.row
			h2.main-title mặt bằng tổng quan
			.col-12
				figure
					.box-img
						img(src='./img/duan-ct/h-2.png', alt='./img/duan-ct/h-2.png')
					figcaption