footer
	.container
		.row
			.col-sm-6.col-lg-3
				.footer-info
					i.mdi.mdi-map-marker
					p Căn S04 Saigon Pearl, 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, TP. HCM
			.col-sm-6.col-lg-3
				.footer-info
					i.mdi.mdi-phone
					p Hotline: 0907 8888 22
			.col-sm-6.col-lg-3
				.footer-info
					i.mdi.mdi-email
					p Liên hệ với chúng tôi
			.col-sm-6.col-lg-3
				.footer-info
					i.mdi.mdi-cloud-download
					p Download Profile mới nhất để hiểu rõ hơn về chúng tôi
		hr
		hr
		.row.table
			.col-sm-6.col-lg-3
				.footer-list
					h3 giới thiệu
					ul
						li 
							a(href="#") Về TLM Corp
						li 
							a(href="#") Lịch sử phát triển
						li 
							a(href="#") Ban lãnh đạo
						li 
							a(href="#") Đối tác chiến lược
						li 
							a(href="#") Giải thưởng
			.col-sm-6.col-lg-3
				.footer-list
					h3 dự án
					ul
						li 
							a(href="#") Đã hoàn thành
						li 
							a(href="#") Đang triển khai
			.col-sm-6.col-lg-3
				.footer-list
					h3 liên kết nhanh
					ul
						li 
							a(href="#") Truyền thông
						li 
							a(href="#") Hoạt động xã hội
						li 
							a(href="#") Tuyển dụng
						li 
							a(href="#") Thư  viện
						li 
							a(href="#") Liên hệ
			.col-sm-6.col-lg-3
				.footer-list
					h3 đăng ký nhận bản tin
					p Vui lòng đăng ký để nhận thông tin mới nhất từ chúng tôi
					input(type="text" placeholder="Nhập email")
					button đăng ký
		hr
		.media
			.media-box
				a(href="#")
					i.fab.fa-facebook-f
					span facebook
			.media-box
				a(href="#")
					i.fab.fa-youtube
					span youtube
			.media-box
				a(href="#")
					i.fab.fa-twitter
					span twitter
		.copyright 2019 © TLM Real Estate Corporation. Tất cả quyền đều được bào hộ. Thiết kế bởi Cánh Cam.