section.duanct-tienich
	.container
		.row
			h2.main-title tiện ích
			.col-xl-8
				.gioithieu-swiper
					.swiper-container
						.swiper-wrapper
							-for(i=0; i < 3; i++)
								.swiper-slide
									figure
										.box-img
											img(src='./img/duan-ct/h-3.png', alt='./img/duan-ct/h-3.png')
										figcaption Marina
					.navigation
						.btn-prev
						.btn-next
			.col-xl-4
				.tienich-wrapper
					.tienich-tabs
						a(href="#").active tiện ích nội khu
						a(href="#") tiện ích ngoại khu
					.tienich-content
						p Nằm trong quy hoạch hạ tầng đã được chính phủ phê duyệt với các tiện ích đẳng cấp như Bến du thuyền, Công viên bờ sông rộng 06 hecta, Khu Trung Tâm Thương Mại, Trường Học Quốc Tế, Trung Tâm Thể Thao, Bệnh Viện, liền kề sân Golf quốc tế Jeongsang hiện hữu... Với những tiện ích vượt trội, King Bay được đánh giá là dự án bất động sản lý tưởng để ở, vừa là địa chỉ đầu tư tin cậy với tiềm năng sinh lời cực cao cho tương lai.
						ul
							li Công viên ven sông rộng 06 hecta
							li Khu thể thao, dã ngoại
							li Nhà hàng
							li Sân golf Teakwang Jeongsan
							li Thiên đường nghỉ dưỡng Six Senses Sài Gòn River
							li Bến du thuyền: tiện ích hiện đại là xu hướng mới đang được ưa chuộng. Tương lai, bến du thuyền sẽ tạo ra một trào lưu mới cho cư dân khi có thể di chuyển bằng du thuyền
							li Trung tâm mua sắm: khu trung tâm thương mại hiện đại tích hợp siêu thị, khu trò chơi, giải trí, rạp chiếu phim, nhà hàng, văn phòng… Ngoài ra, nhà đầu tư còn bố trí nhiều cửa hàng tiện ích, khu chợ, quán cà phê.