section.tuyendung-ct
	.container
		.row
			.col-lg-9
				h2.main-title Nhân viên Content Marketing
				hr
				.table
					table
						tbody
							tr
								td.mdi.mdi-tag Chức vụ
								td Nhân viên
								td.mdi.mdi-account Số lượng
								td 02
							tr
								td.mdi.mdi-format-list-bulleted Ngành nghề
								td Nhân viên content
								td.mdi.mdi-briefcase Kinh nghiệm
								td 01 năm
							tr
								td.mdi.mdi-key Hình thức làm việc
								td Làm việc theo ca
								td.mdi.mdi-school Bằng cấp
								td Tốt nghiệp PTTH
							tr
								td.mdi.mdi-calendar-today Hạn nộp hồ sơ
								td 29.12.2018
								td.mdi.mdi-cake-variant Độ tuổi
								td 18 - 35
				hr
				br
				h3 Mô tả công việc
				ul
					li Viết nội dung bài đăng lên các kênh: Facebook, website,… theo yêu cầu của quản lý.
					li Đề xuất, thực hiện các công việc nhằm tăng chất lượng bài/tin, lượng truy cập facebook, website.
					li Hỗ trợ xây dựng nội dung sáng tạo cho các sự kiện, chiến dịch quảng cáo, truyền thông thương hiệu…
					li Thực hiện những việc khác theo sự phân công của Quản lý trực tiếp.
					li Công việc cụ thể trao đổi trong quá trình phỏng vấn
				br
				h3 Mô tả công việc
				ul
					li Viết nội dung bài đăng lên các kênh: Facebook, website,… theo yêu cầu của quản lý.
					li Đề xuất, thực hiện các công việc nhằm tăng chất lượng bài/tin, lượng truy cập facebook, website.
					li Hỗ trợ xây dựng nội dung sáng tạo cho các sự kiện, chiến dịch quảng cáo, truyền thông thương hiệu…
					li Thực hiện những việc khác theo sự phân công của Quản lý trực tiếp.
					li Công việc cụ thể trao đổi trong quá trình phỏng vấn
				br
				h3 Nộp hồ sơ
				p
					| Tại văn phòng Trung tâm: 
					strong Căn S04 Saigon Pearl, 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, TP. Hồ Chí Minh
				ul
					li Hotline: 0907 8888 22
					li Email: info@tlmcorp.vn
				input(type="submit", value="nộp hồ sơ")
			.col-lg-3
				h2.other-title tin tức khác
				.other-wrapper
					.other-item
						a(href="#") Nhân viên kinh doanh
						time 31.07.2018
					.other-item
						a(href="#") Nhân viên kinh doanh
						time 31.07.2018
					.other-item
						a(href="#") Nhân viên kinh doanh
						time 31.07.2018