section.home-news
	.container
		h2.main-title tin tức
		.row
			.col-lg-12
				.home-news-nav
					a(href="#").active tin nổi bật
					a(href="#") tin tlm corp
					a(href="#") tin tức dự án
					a(href="#") Thông tIN thị trường
		.row.no-gutters
			.col-lg-6
				.home-news-item.main
					figure
						.box-img
							a(href="#")
								img(src='./img/home/home-news.jpg', alt='./img/home/home-news.jpg')
						figcaption
							h3
								a(href="#") King Bay nhận giải thưởng quốc tế “khu đô thị sinh thái ven sông xuất sắc 2018”
							time 29/03/2019
							p King Bay nhận giải thưởng quốc tế “khu đô thị sinh thái ven sông xuất sắc 2018” King Bay nhận giải thưởng quốc tế “khu đô thị sinh thái ven sông xuất sắc 2018” King Bay nhận giải thưởng quốc tế “khu đô thị sinh thái ven sông xuất sắc 2018”
			.col-lg-6
				.row.no-gutters
					-for(i=0; i < 4; i++)
						.col-sm-6
								.home-news-item
									figure
										.box-img
											a(href="#")
												img(src='./img/home/home-news.jpg', alt='./img/home/home-news.jpg')
										figcaption
											h3
												a(href="#") King Bay nhận giải thưởng quốc tế “khu đô thị sinh thái ven sông xuất sắc 2018”
											time 29/03/2019